*~
*.o
*.lo
Makefile
Makefile.in
autom4te.cache/
config.log
config.status
configure
gksu/.deps/
gksu/.libs/
gksu/Makefile
gksu/Makefile.in
gksu/gksu-polkit
intltool-extract.in
intltool-merge.in
intltool-update.in
libgksu/.deps/
libgksu/.libs/
libgksu/Makefile
libgksu/Makefile.in
libgksu/libgksu-polkit-1.pc
libgksu/libgksu-polkit.la
libgksu/vala-build.stamp
libtool
mechanism/.deps/
mechanism/Makefile
mechanism/Makefile.in
mechanism/gksu-server
mechanism/main.c
mechanism/main.h
mechanism/org.gnome.Gksu.service
mechanism/vala-build.stamp
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
mechanism/gksu-process.c
mechanism/gksu-process.h
mechanism/gksu-server-service-glue.h
.dotest/
common/.deps/
common/.libs/
common/gksu-environment.c
common/gksu-environment.h
common/libgksu-polkit-common.la
common/vala-build.stamp
